.portfolio .extra {
  /* margin-top: 15% !important; */
}

.portfolio #butnDelete i {
  margin: 0px !important;
}
.portfolio #butnEdit i {
  margin: 0px !important;
}

.portfolio .extra .ui.checkbox {
  float: right;
  margin-top: 5%;
}

.portfolio .extra h4 {
  float: right;
}
.portfolio #studentsPortfolioDesc.description p {
  text-align: justify;
  line-height: 1.5;
}
