.fixed-top {
  padding-top: 0px;
  padding-bottom: 0px;
}

.jumbotron {
  padding: 0rem 3rem !important;
  background-color: inherit !important;
}

@media only screen and (max-width: 770px) {
  .jumbotron {
    padding: 0rem 0rem !important;
    background-color: inherit !important;
}
}

.ui.huge.borderless.menu {
  height: 60px;
}

.signInButton{
  margin-top: 10px;
}




/* 
.fixed-top {
  padding-top: 0px;
  padding-bottom: 0px;
}

.jumbotron {
  padding: 4rem 0rem !important;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

@media screen and (max-width: 600px) {
  #a{
    display: none;
  }
  #navPadding{
    padding: 8px !important;
  }
  #logoText{
    /*margin-right: 19rem; ?Maybe? */                 /* 
      margin-right: -1rem !important;
    }
    
  #nav2{

    position: relative;
    overflow: hidden;
    background-color: #343a40;
    width: 100% !important;
    text-align: center;
    display: none;
  }
    
}

@media screen and (min-width: 600px) {
  #b{
    display: none;
  }
  #nav2{
    display: none;
  }
}

#nav2{

  position: relative;
  overflow: hidden;
  background-color: #343a40;
  width: 48%;

  margin-top: -0.5rem !important;
  margin-bottom: 1rem !important;

}

#nav2 a{

  float: none;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
 }

                                                      */