.siteHeader .fixed-top {
  padding-top: 0px;
  padding-bottom: 0px;
}

@media (max-width: 770px) {
  .siteHeader .sidenav a {
    padding: 2%;
    text-decoration: none;
    font-size: 50px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
}

.siteHeader .ui.huge.borderless.menu {
  height: 60px;
}

.siteHeader .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.siteHeader .overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.siteHeader .overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181 !important;
  display: block !important;
  transition: 0.3s;
}

.siteHeader #myNavItems {
  text-align: center;
  padding-left: 0%;
  margin: -70px;
  font-size: 25px;
}

.siteHeader #myNavItems button,
.siteHeader #myNavItems.Item.a {
  margin-left: auto;
  margin-right: auto;
}

.siteHeader #myNav a:hover,
.siteHeader #myNav a:focus {
  color: #f1f1f1 !important;
}

.siteHeader .overlay a:hover,
.siteHeader .overlay a:focus {
  color: #f1f1f1;
}

.siteHeader .overlay .closebtn {
  /* position: absolute; */
  top: -20px;
  right: 60px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .siteHeader .overlay a {
    font-size: 20px;
  }
  .siteHeader .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.siteHeader #myNav {
  width: 0%;
}
.siteHeader .navLogo {
  padding-top: 18px;
}
.siteHeader .navLogo .ui.spaced.image {
  display: inline-block !important;
  margin-left: 0em;
  margin-right: 0em;
}

.siteHeader .navLogoMob {
  padding-top: 5px;
  max-width: 18% !important;
}

.siteHeader .navLogoMob .ui.spaced.image {
  display: inline-block !important;
  margin-left: 0em;
  margin-right: 0em;
}
.siteHeader #navMenuRight .item i{
  margin: 0%;
}
@media screen and (max-width: 700px) {
  .siteHeader .navLogo img {
    display: none;
  }
  .siteHeader #navMenuRight {
    margin-right: 8% !important;
  }
  .siteHeader #navMenuRight .item {
    padding: 3% !important;
  }
  .siteHeader #navMenuRight .item img{
    width: 50px !important;
    height: 50px !important;
  }

}

/* @media screen and (max-width: 500px) {
.siteHeader .navLogoMob {
  padding-top: 5px;
  max-width: 50%;
}
} */

/* @media screen and (min-width: 700px) {
  .siteHeader .navLogoMob img {
    display: none;
  }
} */

@media only screen and (max-width: 767px) {
  .siteHeader .ui.stackable.menu .item {
    width: 100% !important;
  }
}
.siteHeader #buttonRemove {
  display: "flex" !important;
}

@media only screen and (max-width: 767px) {
  .siteHeader .ui.container {
    width: auto !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

.siteHeader #headerMargin {
  margin-top: 0;    
  height: 80px;
}

.siteHeader #headerFixed {
  /* position: fixed;
  top: 0;
  width: 100%;
  z-index: 2020; */
}

@media screen and (max-width: 499px) {
  #buttonRemove button {
    font-size: 0.6em;
    padding: 1.3em;
  }
}

#navProfileImg img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
