.siteHeader .fixed-top {
  padding-top: 0px;
  padding-bottom: 0px;
}

@media (max-width: 770px) {
  .siteHeader .sidenav a {
    padding: 2%;
    text-decoration: none;
    font-size: 50px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
}

.siteHeader .ui.huge.borderless.menu {
  height: 60px;
}

.siteHeader .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.siteHeader .overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.siteHeader .overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181 !important;
  display: block !important;
  transition: 0.3s;
}

.siteHeader #myNavItems {
  text-align: center;
  padding-left: 0%;
  margin: -70px;
  font-size: 25px;
}

.siteHeader #myNavItems button,
.siteHeader #myNavItems.Item.a {
  margin-left: auto;
  margin-right: auto;
}

.siteHeader #myNav a:hover,
.siteHeader #myNav a:focus {
  color: #f1f1f1 !important;
}

.siteHeader .overlay a:hover,
.siteHeader .overlay a:focus {
  color: #f1f1f1;
}

.siteHeader .overlay .closebtn {
  /* position: absolute; */
  top: -20px;
  right: 60px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .siteHeader .overlay a {
    font-size: 20px;
  }
  .siteHeader .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.siteHeader #myNav {
  width: 0%;
}
.siteHeader .navLogo {
  padding-top: 11px;
}

@media only screen and (max-width: 767px) {
  .siteHeader .ui.stackable.menu .item {
    width: 100% !important;
  }
}
.siteHeader #buttonRemove {
  display: "block" !important;
}

@media only screen and (max-width: 767px) {
  .siteHeader .ui.container {
    width: auto !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

.siteHeader #headerMargin {
  margin-top: 0;
}

.siteHeader #headerFixed {
  /* position: fixed;
  top: 0;
  width: 100%;
  z-index: 2020; */
}
