.MapContainer {
  width: auto;
  height: 85vh;
}

.MapContainer .gm-style-iw-t {
  bottom: 50px !important;
}
.MapContainer .gm-style-iw-d {
  overflow: hidden !important;
}
.MapContainer .gm-style-iw-c {
  max-width: 320px !important;
}

.MapContainer.gm-style .gm-style-iw-c {
  padding: 10px 10px 10px 10px !important;
}

/*style the arrow*/
.MapContainer .gm-style div div div div div div div div {
  background-color: #8c8c8c !important;
  padding: 0;
  margin: 0;
  padding: 0;
  top: 0;
  color: #fff;
  font-size: 16px;
}

/*style the link*/
.MapContainer .gm-style div div div div div div div div a {
  color: #f1f1f1;
  font-weight: bold;
}

.MapContainer .gm-style .gm-style-iw-t::after {
  background: linear-gradient(
    45deg,
    rgb(140, 140, 140) 50%,
    rgba(255, 255, 255, 0) 51%,
    rgba(255, 255, 255, 0) 100%
  );
}

.MapContainer .container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.MapContainer #mapTable {
  font-family: arial, sans-serif;
}

.MapContainer #mapTable td,
.MapContainer #mapTable th {
  border: 1px solid #fff;
  color: #fff;
  text-align: left;
  padding: 8px;
}

.MapContainer #mapTable td a {
  display: block;
  border: 1px solid black;
  padding: 16px;
}
