.signUp #signupForm {
}

.signUp #signupContainer {
  width: 50%;
  text-align: center;
  margin: 5% auto 5% auto;
  padding: auto, 15px, auto, 15px;
}

@media screen and (max-width: 900px) {
  .signUp #signupContainer {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  .signUp #signupContainer {
    width: 70%;
  }
}

@media screen and (max-width: 700px) {
  .signUp #signupContainer {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .signUp #signupContainer {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .signUp #signupContainer {
    width: 100%;
  }
}

.signUp label {
  text-align: left;
}
