/* .bg-warning {
  background-color: transparent !important;
}

.bg {
  animation: slide 6s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    var(--danger) 50%,
    var(--orange) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 8s;
}

.bg3 {
  animation-duration: 10s;
} */

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  background-color: transparent !important;
}

.content {
  padding: 0 0 0 0;
}

h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

a {
  text-decoration: none;
  color: unset;
}

#Forms {
  width: 50%;
  text-align: center;
  margin: 5% auto 5% auto;
  padding: auto, 15px, auto, 15px;
}

.contentMain {
  margin-top: 105px;
}

/* Home Page CSS */

.homePage #homePageContainer {
  padding: 0 !important;
  margin: 30px -15px 0px 15px !important;
  width: auto !important;
}

@media only screen and (max-width: 767px) {
  .homePage #homePageContainer {
    padding: 0 !important;
    margin: 30px 0px 0px 0px !important;
    width: auto !important;
  }
}

.homePage #headerHomePage {
  padding: 300px 16px;
}

/* Home Page CSS */

/* Profile Page CSS */

.profile #portfolioHeader {
  margin: 0 40px;
}

.profile #portfolioHeader svg {
  width: 40px;
  height: 40px;
}

.profile #portfolioHeader header {
  display: flex;
  justify-content: space-between;
}

.profile #portfolioHeader header > div {
  display: flex;
  align-items: center;
}

.profile #portfolioHeader header nav {
  font-family: Lato;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: unset;
}

.profile #portfolioHeader header img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile #portfolioHeader header small {
  display: inline-block;
  margin-bottom: 7px;
  font-family: Lato;
  font-weight: 700;
  color: #686868;
  letter-spacing: 0.2px;
}

.profile #portfolioHeader header nav ul {
  list-style: none;
  padding: 0;
  margin-top: 25px !important;
  margin-bottom: 0 !important;
}

.profile #portfolioHeader header nav ul li {
  display: inline-block;
  color: #313131;
  letter-spacing: 0.1px;
}

.profile #portfolioHeader header nav ul li:not(:first-child) {
  margin-left: 50px;
}

@media (max-width: 800px) {
  .profile #portfolioHeader header {
    display: block;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .profile #portfolioHeader header > div {
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .profile #portfolioHeader header nav {
    margin-top: 30px;
  }
}

/* Profile Page CSS */

/* mapPage Page CSS */

.mapPage {
  padding: 10px;
}

/* mapPage Page CSS */
