html {
  height: 100%;
}

body {
  margin: 0;
}

.container-fluid {
  background-color: transparent !important;
}
.bg-warning {
  background-color: transparent !important;
}

.bg {
  animation: slide 6s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    var(--danger) 50%,
    var(--orange) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 8s;
}

.bg3 {
  animation-duration: 10s;
}

.content {
  padding: 0 0 0 0;
}

h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

#portfolioHeader {
  margin: 0 40px;
}

#portfolioHeader svg {
  width: 40px;
  height: 40px;
}

#portfolioHeader header {
  display: flex;
  justify-content: space-between;
}

#portfolioHeader header > div {
  display: flex;
  align-items: center;
}

#portfolioHeader header nav {
  font-family: Lato;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: unset;
}

#portfolioHeader header img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

#portfolioHeader header small {
  display: inline-block;
  margin-bottom: 7px;
  font-family: Lato;
  font-weight: 700;
  color: #686868;
  letter-spacing: 0.2px;
}

#portfolioHeader header nav ul {
  list-style: none;
  padding: 0;
  margin-top: 25px !important;
  margin-bottom: 0 !important;
}

#portfolioHeader header nav ul li {
  display: inline-block;
  color: #313131;
  letter-spacing: 0.1px;
}

#portfolioHeader header nav ul li:not(:first-child) {
  margin-left: 50px;
}

@media (max-width: 800px) {
  #portfolioHeader header {
    display: block;
    text-align: center;
  }
}

@media (max-width: 800px) {
  #portfolioHeader header > div {
    justify-content: center;
  }
}

@media (max-width: 800px) {
  #portfolioHeader header nav {
    margin-top: 30px;
  }
}

#Forms {
  width: 50%;
  text-align: center;
  margin: 5% auto 5% auto;
  padding: auto, 15px, auto, 15px;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 5rem 1rem;
  }
}

#jumbotron {
  padding: 0rem 0rem !important;
  background-color: inherit !important;
}

#jumbotron {
  padding: 3.5rem 0rem;
  margin-bottom: 0rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

/* Home Page CSS */

#homePageContainer {
  padding: 0 !important;
  margin: 0px -15px 0px 15px !important;
  width: auto !important;
}

@media only screen and (max-width: 767px) {
  #homePageContainer {
    padding: 0 !important;
    margin: 0px 0px 0px 0px !important;
    width: auto !important;
  }
}

#segmentContainer {
  background-color: #ffffff;
}

#segmentBigContent {
  width: auto;
  background-size: cover;
  background-position: 50% 100%;
  padding: 0;
  /* background: linear-gradient(to bottom, #7927b2, #fb3182); */
}

@media only screen and (max-width: 1600px) {
  #segmentBigContent img{
    height: 60vh;
  }
}

#segmentBigContent img {
  width: -webkit-fill-available;
}

#segmentSmallContent {
  width: auto;
  height: 400px;
  background-color: #ffffff;
}

#segmentSmallContainer {
  margin-left: 0rem !important;
  margin-right: 2.5rem !important;
}

@media only screen and (max-width: 767px) {
  #segmentSmallContainer {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }
}
/* Home Page CSS */
