/* .bg-warning {
  background-color: transparent !important;
}

.bg {
  animation: slide 6s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    var(--danger) 50%,
    var(--orange) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 8s;
}

.bg3 {
  animation-duration: 10s;
} */

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  background-color: transparent !important;
}

.content {
  padding: 0 0 0 0;
}

h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

a {
  text-decoration: none;
  color: unset;
}

/* general Forms */

#Forms {
  width: 50%;
  text-align: center;
  margin: 5% auto 5% auto;
  padding: auto, 15px, auto, 15px;
}

#Forms {
  width: 50%;
  text-align: center;
  margin: 5% auto 5% auto;
  padding: auto, 15px, auto, 15px;
}

@media screen and (max-width: 900px) {
  #Forms {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  #Forms {
    width: 70%;
  }
}

@media screen and (max-width: 700px) {
  #Forms {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  #Forms {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  #Forms {
    width: 100%;
  }
}

/* general Forms */

.contentMain {
  /* margin-top: 105px; */
}

/* Home Page CSS */

.homePage #homePageContainer {
  padding: 0 !important;
  margin: 30px -15px 0px 15px !important;
  width: auto !important;
}

@media only screen and (max-width: 767px) {
  .homePage #homePageContainer {
    padding: 0 !important;
    margin: 30px 0px 0px 0px !important;
    width: auto !important;
  }
}

.homePage #headerHomePage {
  padding: 200px 16px;
}

/* Home Page CSS */

/* Profile Page CSS */

.profile #profileHeader {
  /* margin: 0 40px; */
}

.profile #profileHeader svg {
  width: 40px;
  height: 40px;
}

.profile #profileHeader header {
  display: flex;
  justify-content: space-between;
}

.profile #profileHeader header > div {
  display: flex;
  align-items: center;
}

.profile #profileHeader header nav {
  font-family: Lato;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: unset;
}

.profile #profileHeader header img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile #profileHeader header small {
  display: inline-block;
  margin-bottom: 7px;
  font-family: Lato;
  font-weight: 700;
  color: #686868;
  letter-spacing: 0.2px;
}

.profile #profileHeader header nav ul {
  list-style: none;
  padding: 0;
  margin-top: 25px !important;
  margin-bottom: 0 !important;
}

.profile #profileHeader header nav ul li {
  display: inline-block;
  color: #313131;
  letter-spacing: 0.1px;
}

.profile #profileHeader header nav ul li:not(:first-child) {
  margin-left: 50px;
}

@media (max-width: 800px) {
  .profile #profileHeader header {
    display: block;
    text-align: center;
  }
}

@media (max-width: 800px) {
  .profile #profileHeader header > div {
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .profile #profileHeader header nav {
    margin-top: 30px;
  }
}

.profile #profileMainCon {
  margin-right: 0px !important;
  margin-left: 0px !important;
  margin-top: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.profile #profileRow {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: inherit;
  align-items: stretch;
  width: 100% !important;
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 0px;
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .profile #profileCon {
    padding-right: auto !important;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-left: auto !important;
  }
}

@media screen and (max-width: 800px) {
  .profile #profileCon {
    padding-right: 1px !important;
    margin-right: 1px !important;
    margin-left: 1px !important;
    padding-left: 1px !important;
  }
  .profile #profileCol {
    margin-right: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    font-size: 0.9rem !important;
  }
  .profile #profileCol .ui.menu {
    font-size: 0.9rem !important;
  }
  .profile #profileHeader header nav ul li {
    display: contents;
    color: #313131;
    letter-spacing: 0.1px;
  }
  .profile #profileHeader header > div {
    display: block;
    align-items: center;
  }
}

/* Profile Page CSS */

/* mapPage Page CSS */

.mapPage {
  padding: 10px;
}

/* mapPage Page CSS */

/* Scroll Bar CSS */

body::-webkit-scrollbar {
  width: 0.8em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #2185d0;
  outline: 1px solid slategrey;
}
@media screen and (max-width: 700px) {
  body::-webkit-scrollbar {
    width: 0.6em;
  }

}


/* Scroll Bar CSS */

/* Students Page */

#totalStudentNum{
  width: fit-content;
  margin: auto;
}

/* Students Page */
