.ui.modal {
  position: unset !important;
  text-align: center !important;
  
}

.modal {
  height: auto;
}

.ui.modal>.content {
  margin-bottom: 12%;
}

#formTextArea{
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#formSelect{
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}